<!DOCTYPE html>
<html>
  <head>
    <title>CAMS Map</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
  </head>
  <body>
    <div id="main"> 
      <div id="sidebar">
        <div class="loader"></div> <!-- Add the loader element to the sidebar -->
        <div id="sidebar-content">
          
          <div id="sidebar-text"> <h1>CAMS Map</h1>

          <h2>Introduction</h2>

          Nitrogen dioxide (NO2), a byproduct of burning fossil fuels, can serve as a visible marker of our climate emergency. As these fuels are burned, NO2 is released into the atmosphere, alongside CO2, intensifying the climate emergency. Understanding this connection can give us opportunities in our efforts to combat the environmental crisis we face.<br><br>

          NO2 plays a central role in air quality and has been used to identify fossil fuel hot-spots. It is a gas created by incomplete combustion, is short-living and dissolves already hours after release. As a result, this pollutant tends to remain in close proximity to its emission sources, causing concentrations to rapidly fluctuate when there are changes in those sources. As such, it is also a very powerful indicator for local pollution. Exposure to nitrogen oxides can lead to a higher probability of respiratory problems and asthma. Thus, the burning of fossil fuels is not only a global problem, but also a local one. <br><br>

          By decreasing NO2 emissions, we not only improve air quality and protect human health but also address the root cause of climate change. This knowledge empowers us to take decisive action and implement measures that can mitigate the adverse impacts of greenhouse gas emissions.<br><br>

          This small project asks the following question: Would it be valuable to have an indicator that tracks and rewards cities for their efforts in reducing NO2 emissions? How can we implement such indicator that measures progress in reducing NO2 levels over time?<br><br>

          The inclusion of a map in our visualization serves multiple purposes. Firstly, it provides spatial encoding, allowing users to select specific cities of interest directly from the map interface. This enhances the user experience and facilitates intuitive exploration of the data. Additionally, the map showcases NO2 Tiles, offering viewers a glimpse of how satellite data can be used for global calculations. By integrating these tiles, we provide a visual representation of the potential for scaling this competition system worldwide, demonstrating the broader scope and impact of NO2 reduction efforts.<br><br>

          The code is available on <a href="https://github.com/sweing/camsmap" target="_blank" rel="noopener noreferrer">GitHub</a>.

          <h2>Data</h2>

          The dataset provides information on air quality in 50 cities in Europe and Turkey, based on satellite and ground-based observations and advanced numerical models. The dataset is produced by the Copernicus Atmosphere Monitoring Service (CAMS), which is part of the European Union’s Earth observation programme.<br><br>

          The <a href="https://github.com/CopernicusAtmosphere/air-quality-covid19-response" target="_blank" rel="noopener noreferrer">data</a> used for this project represents the background density of NO2 in the air in each city, measured in locations not remote from traffic, such as parks and similar areas.

          <h2>Raw data representation</h2>
          
          The chart reveals the fluctuations and seasonality inherent in the raw data. NO2 levels tend to be noisier, with spikes and dips influenced by various factors, including traffic patterns, weather conditions, and industrial activities. Notably, NO2 levels often show higher concentrations during winter months.<br><br>

          This unfiltered depiction of NO2 levels provides a clear picture of the real-time variations experienced by each city, offering insights into the immediate impact of local emissions and external factors on air quality.<br><br>

          By observing this chart, we can identify cities with higher or lower average NO2 levels, assess the extent of fluctuations, and gain a preliminary understanding of the NO2 dynamics across the 50 cities in our dataset.
          <br></div>
          
          <div id="chart-container">
            <div id="chart-raw">
              <!-- Chart content goes here -->
            </div>
          </div>
          
          
          <div id="sidebar-text"> 
          Source: <a href="https://github.com/CopernicusAtmosphere/air-quality-covid19-response" target="_blank" rel="noopener noreferrer">CAMS</a>.

          <h2>Deseasonalization</h2>

          The second chart presents a deseasonalized view of NO2 data, offering a clearer understanding of the medium-term trends in NO2 levels across the 50 cities in the dataset.<br><br>

          To achieve deseasonalization, we apply a composite moving average calculation. This method combines the moving averages of different timeframes to create a more balanced indicator of NO2 levels. The weights assigned to each moving average ensure a focus on the middle run, capturing both short-term fluctuations and longer-term patterns.<br><br>

          By selecting the deseasonalized view in the dropdown menu, you can compare two options: the composite moving average and the 365-day moving average. The composite moving average emphasizes the medium-term trends by considering the last 365 days (weighted 60%), 2 years (30%), and 3 years (10%), while the 365-day moving average considers only the last 365 days.<br><br>

          This deseasonalized data in this chart allows us to discern patterns beyond immediate fluctuations, providing a clearer insight into the overall trajectory of NO2 levels over time. It helps identify periods of consistent improvement or deterioration and facilitates the evaluation of long-term efforts to reduce NO2 emissions.<br></div>
          <div class="table-container">
            <div class="table-row">
              <div class="table-cell">
                <label for="chart-type-averages">Variable:</label>
              </div>
              <div class="table-cell">
<!--                 <select id="chart-type" class="dropdown">
                  {% for col in variables %}
                    <option value="{{ col }}">{{ col }}</option>
                  {% endfor %}
                </select> -->
                <select id="chart-type-averages" class="dropdown">
                  {% for col in ["365d moving average", "Composite moving average"] %}
                    {% if col == "Composite moving average" %}
                      <option value="{{ col }}" selected>{{ col }}</option>
                    {% else %}
                      <option value="{{ col }}">{{ col }}</option>
                    {% endif %}                  
                  {% endfor %}
                </select><br><br>
              </div>
            </div>
          </div>
          <div id="chart-container">
            <div id="chart-averages">
              <!-- Chart content goes here -->
            </div>
          </div>

          <div id="sidebar-text">
          Source: <a href="https://github.com/CopernicusAtmosphere/air-quality-covid19-response" target="_blank" rel="noopener noreferrer">CAMS</a>, own calculations.

          <h2>A contest to slash NO2 levels</h2>

          The third chart introduces a contest centered around NO2 reduction among the 50 cities in the dataset. This competition aims to recognize and celebrate the cities that achieve the most significant reductions in NO2 levels over a specific period.<br>

          </div>

          <div class="table-container">
            <div class="table-row">
              <div class="table-cell">
                <label for="chart-type-index">Variable:</label>
              </div>
              <div class="table-cell">
                <select id="chart-type-index" class="dropdown">
                  {% for col in ["Monthly Index Race", "Yearly Index Race"] %}
                    {% if col == "Yearly Index Race" %}
                      <option value="{{ col }}" selected>{{ col }}</option>
                    {% else %}
                      <option value="{{ col }}">{{ col }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="table-row">
              <div class="table-cell">
                <label for="month-type-index">Month:</label>
              </div>
              <div class="table-cell">
                <select id="month-type-index" class="dropdown">
                  {% for month in months %}
                    <option value="{{ month }}" {% if month == last_month %}selected{% endif %}>{{ month }}</option>
                  {% endfor %}
                </select>

              </div>
            </div>

            <div class="table-row">
              <div class="table-cell">
                <label for="year-type-index">Year:</label>
              </div>
              <div class="table-cell">
                <select id="year-type-index" class="dropdown">
                  {% for year in years %}
                    <option value="{{ year }}" {% if year == max_year %}selected{% endif %}>{{ year }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div id="chart-container">
            <div id="chart-index">
              <!-- Chart content goes here -->
            </div>
          </div>
          <div id="sidebar-text">
          Source: <a href="https://github.com/CopernicusAtmosphere/air-quality-covid19-response" target="_blank" rel="noopener noreferrer">CAMS</a>, own calculations.<br><br>

          Using the dropdown menus, you can choose between two time frames, yearly and monthly. Once selected, you can further specify the year or month of interest. The chart then indexes all NO2 data points to 100 at the beginning of the chosen period.<br><br>

          As time progresses, the chart tracks the changes in NO2 levels for each city. At the end of the month or year, the city that has achieved the most substantial reduction in NO2 levels, relative to their initial index of 100, is crowned the champion.<br><br>

          This competition encourages cities to actively work towards reducing NO2 emissions, fostering a sense of friendly rivalry and collective progress. It provides a visual representation of each city's journey, highlighting the efforts made and the positive impact achieved in terms of NO2 reduction.<br><br>

          By incorporating this competition into the visualization, we create a platform to showcase success stories, inspire healthy competition, and encourage cities to prioritize and implement effective strategies to reduce their NO2 emissions. It spurs innovation and collaboration while empowering cities to make a tangible difference in their local environments and contribute to the broader goal of combatting climate change.<br>

          <h2>Outlook</h2>
          Looking to the future, the potential of remote sensing data becomes apparent as a key driver in scaling up this concept. By using remote sensing technologies, we can expand the reach of this competition system beyond boundaries, enabling cities and regions worldwide to participate and contribute to reduce fossil fuel use. By embracing satellite data, we unlock the potential for a collective and global movement, harnessing the power of citizen participation to foster sustainable practices and drive positive environmental change.<br><br>

          Let us work together towards a cleaner and sustainable future!<br><br><br><br></div>
        </div>
      </div>
      <div id="map"></div>
    </div>

    <!-- Our JavaScript -->
    <script>
      var bounds = {{ bounds|safe }};
    </script>

    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>

    <script>
      var data = JSON.parse('{{ data|safe }}');
      //console.log(data)
      window.onload = function() {
        hideLoader(); // Hide the loading spinner
        showChartContent(); // Show the chart content
        var chartTypeIndex = document.getElementById('chart-type-index').value;
        var monthTypeIndex = document.getElementById('month-type-index');
        var yearTypeIndex = document.getElementById('year-type-index').value;

        linechart(data, document.getElementById('chart-type-averages').value, null, null, "chart-averages");
        linechart(data, document.getElementById('chart-type-index').value, yearTypeIndex, monthTypeIndex.value, "chart-index");
        linechart(data, 'Raw', null, null, "chart-raw");

        
        if (chartTypeIndex === "Yearly Index Race") {
          monthTypeIndex.disabled = true;
          monthTypeIndex.style.opacity = '0.7';
        }        
      };

      function hideLoader() {
        document.querySelector('.loader').style.display = 'none';
      }

      function showChartContent() {
        //document.getElementById('chart-averages').style.display = 'block';
        //document.getElementById('chart-raw').style.display = 'block';
        //document.getElementById('chart-index').style.display = 'block';
        document.getElementById('sidebar-content').style.display = 'block';
      }

      // Add event listener to the dropdown menu
      document.getElementById('chart-type-averages').addEventListener('change', function() {
        document.getElementById('chart-averages').innerHTML = '';
        linechart(data, document.getElementById('chart-type-averages').value, null, null, "chart-averages");
      });

      // Add event listener to the dropdown menu
      document.getElementById('chart-type-index').addEventListener('change', function() {
        var chartTypeIndex = document.getElementById('chart-type-index').value;
        var monthTypeIndex = document.getElementById('month-type-index');

        // Check if "Yearly Index Race" is selected
        if (chartTypeIndex === 'Yearly Index Race') {
          // Disable the month dropdown and add a grayed-out appearance
          monthTypeIndex.disabled = true;
          monthTypeIndex.style.opacity = '0.7';
        } else {
          // Enable the month dropdown and remove the grayed-out appearance
          monthTypeIndex.disabled = false;
          monthTypeIndex.style.opacity = '1';
        }
        document.getElementById('chart-index').innerHTML = '';
        linechart(data, chartTypeIndex, document.getElementById('year-type-index').value, document.getElementById('month-type-index').value, "chart-index");
      });

      document.getElementById('year-type-index').addEventListener('change', function() {
        document.getElementById('chart-index').innerHTML = '';
        linechart(data, document.getElementById('chart-type-index').value, document.getElementById('year-type-index').value, document.getElementById('month-type-index').value, "chart-index");
      });

      document.getElementById('month-type-index').addEventListener('change', function() {
        document.getElementById('chart-index').innerHTML = '';
        linechart(data, document.getElementById('chart-type-index').value, document.getElementById('year-type-index').value, document.getElementById('month-type-index').value, "chart-index");
      });
    </script>
  </body>
</html>